{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- row -->
<div class="row tm-content-row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <h2 class="tm-block-title">Experience points</h2>
            <canvas id="lineChart"></canvas>
            
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <h2 class="tm-block-title">Solved lessons</h2>
            <canvas id="barChart"></canvas>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller">
            <h2 class="tm-block-title">Streaks</h2>
            <div class="tm-notification-items">
                {% for student in students %}
                <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="{% static 'funEmoji' %}-{{ student.avatar_id }}.png" width="100%"  alt="Avatar Image" class="rounded-circle"></div>
                    <div class="media-body">
                        <p class="mb-2">{{ student.username }} 
                        <span class="tm-small tm-text-color-secondary">has a streak of {{ student.streak }} days.</span> </p>
                    </div>
                </div>
                {% endfor %}
            </div>                       
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-overflow">
            <h2 class="tm-block-title">Notifications</h2>
            <div class="tm-notification-items">
                {% for student_lesson in student_lessons %}
                <div class="media tm-notification-item">
                    <div class="tm-gray-circle"><img src="{% static 'funEmoji' %}-{{ student_lesson.avatar_id }}.png" width="100%"  alt="Avatar Image" class="rounded-circle"></div>
                    <div class="media-body">
                        <p class="mb-2">{{ student_lesson.student }} 
                        <span class="tm-small tm-text-color-secondary">solved class {{ student_lesson.finished|naturaltime }} and spent on it {{ student_lesson.time_spent }} seconds.</span> </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
            <h2 class="tm-block-title">Student list</h2>
            <table id="table">
                <thead>
                    <tr>
                      <th data-field="username">Username</th>
                      <th data-field="xp">XP</th>
                      <th data-field="streak">Streak</th>
                    </tr>
                  </thead>
            </table>
        </div>
    </div>
</div>
</div>
<script src={% static "dashboard.js"%}></script>
{% endblock %}  
