{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block title %}Settings{% endblock %}

{% block content %}
    <h1>Settings</h1>
    <h2>Password</h2>
    <a href="/accounts/password_change/" class="btn btn-primary">Change password</a>
    <a href="/accounts/password_reset/" class="btn btn-secondary">Reset password</a>
    <h2>User settings</h2>
    {% if messages %}
    {% for message in messages %}
     {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

    {% endfor %}

    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.email|as_crispy_field}}
        {{ form.first_name|as_crispy_field}}
        {{ form.last_name|as_crispy_field}}
        
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <h2>Danger zone</h2>
    <a class="btn btn-danger" href="./delete" onclick="return confirm('Are you sure?');">Delete my account</a>
{% endblock %}